#header{
  background-color: #4aaaa5;
  height: 20px;
  width: 230px;
  border:0px #4aaaa5;
  padding-left: 1%;
  margin-left: 3.125%;
  
h1
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 16px;
    color:  #ffffff;



#navbR{
  background-color: #4aaaa5;
  height: 20px;
  width: 280px;
  padding-right: 32px;
  
;


}