#header{
 
  width: 200px;
  padding: 10px;
  border-width: 2px;
  background-color: #4aaaa5;
  border: gray;
}

h1{
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    height: 24px;
    font-size: 24px;
    color: #ffffff;
}
h2{
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 24px;
  color: #4aaaa5;
}

.topnav{
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 16px;

}

.container{
  width:80%;
  margin:auto
  
  }

img{

float: left;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

#content{
  background-color: #ffffff;
  height: 760px;
  width: 960px;
  border-radius: 3px;
  border-color: #dddddd;
  padding: 30px;

