


#header{
  width: 200px;
  margin-left: 5%;
  border-bottom: 4px gray;
  background-color: #4aaaa5;
}



h1{
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    height: 24px;
    font-size: 24px;
    color: #ffffff;
    border-bottom: #cccccc;
}
h2{
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 24px;
  color: #4aaaa5;
  float: left;
  margin-left: 5%;
}


.topnav{
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 16px;
}


img{
float: left;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.container{
  width:90%;
  margin:auto;
  
  
  }

  #bg1 {
    min-height: 100%;
    min-width: 1024px;
    background-image: url(assets/images/bg1.png);
    border-top: #dddddd;
  }


h3{
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    height: 24px;
    font-size: 24px;
    color: #4aaaa5;
    float: left;
    margin-left: 5%;

}

  .contact {
    padding: 20px;
  }

 .contact.form-group {
    padding-bottom: 15px;
  }

  .contact.lable{
    display: block;
  }